.header {
    background-color: rgb(53, 53, 173);
    color: white;
    padding: 10px;

    /*thsi is lines are key*/
    display: flex;
    justify-content: space-between;
    align-items: center; 

}