/* Friends Page Specific Styles */
.friends-container h2 {
    font-size: 14px;
    color: #3B5998;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #D8DFEA;
    padding-bottom: 5px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.alpha-filter a {
    font-weight: bold;
    padding: 0 2px;
}

.friend-search label {
    font-weight: bold;
}

.friend-search input {
    border: 1px solid #000;
    width: 150px;
}

.friends-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.friend-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px dotted #ccc;
}

.friend-item:last-child {
    border-bottom: none;
}

.friend-pic {
    width: 50px;
    height: 50px;
    background-color: #D8DFEA;
    border: 1px solid #3B5998;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #3B5998;
    flex-shrink: 0;
}

.friend-info {
    flex-grow: 1;
    margin: 0 15px;
}

.friend-info h4 {
    margin: 0;
    font-size: 12px;
}

.friend-actions {
    flex-shrink: 0;
    font-size: 10px;
}

.friend-actions a {
    font-weight: normal;
}